<a href="https://colab.research.google.com/github/husnulkhotimah-husnulkhotimah/Data-Science-Sanbercode-Day-1/blob/main/Tugas_Hari_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [ ]:
print("Hello World Python")

Hello World Python

Expected Output :

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [ ]:
x = 4
y = 2

In [ ]:
#statement pertambahan
v = x + y
print (v)

6

In [ ]:
#statement perkurangan
w = x - y
print (w)

2

In [ ]:
#statement perkalian
s = x * y
print (s)

8

In [ ]:
#statement pembagian
z = x / y
print(z)

2.0

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [ ]:
a = 9
b = 3

In [ ]:
#integer
c = int(a / b)
print (c)
type (c)

3

int

In [ ]:
#float
d = a / b
print (d)
type (d)

3.0

float

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lastname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science dasar.'

In [ ]:
firstname = 'Husnul'
lastname = 'Khotimah'
print('Hello sanbercode, saya ' + firstname + ' ' + lastname + '! saya siap belajar python data science dasar')

Hello sanbercode, saya Husnul Khotimah! saya siap belajar python data science dasar

Expected Output :

Hello sanbercode, saya Afrida Hafizhatul Ulum! saya siap belajar python data science dasar.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [ ]:
usia = 31
kata = 'usiaku: '
print(kata + str(usia) + ' tahun')

usiaku: 31 tahun

Expected Output : (sesuai usia masing-masing)

usiaku: 28 tahun